/* timer start */
.jst-hours {
    display: none;
    float: left;
}

.jst-minutes {
    display: none;
    float: left;
}

.jst-seconds {
    float: left;
}

.jst-clearDiv {
    clear: both;
}

.jst-timeout {
    color: red;
}

.timer {
    display: inline-block;
}

/* timer end */

/* container start */

.wrapper {
    display: grid;
    grid-auto-rows: auto 1fr;
    height: 100%;
    width: 100%;
}

/* container end */

/* user section start */

.user-section {
    display: flex; 
    align-items: center;
}

.user-section .username {
    color: #fff;
    margin: 0 .5rem;
}

/* icon start */
.circular--landscape {
    display: inline-block;
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 50%;
    background: #eee;
}

.circular--landscape img {
    width: auto;
    height: 100%;
}

/* icon end */

/* user section end */

/* custom bootstrap start */

/* modal start */

.custom-modal-header {
    justify-content: center;
}

.custom-modal-body {
    text-align: center;
}

.custom-modal-footer {
    display: flex;
    justify-content: space-between;
}

/* modal end */

/* btn start */
.custom-btn {
    margin: .5rem 0rem;
}

/* btn end */

/* custom bootstrap end */

/* google map start */
#map {
    height: 100%;
    width: 100%;
}

/* google map end */

/* responsive start */
@media (min-width: 768px) {
    .btn-block {
        width: auto;
    }

    .custom-btn {
        margin: .25rem .75rem;
    }

    .user-section {
        flex-direction: row-reverse;
    }
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute;
        left: 17px;
    }
}
    /* responsive end */