/* timer start */
#timer-value {
  font-size: 2rem;
  font-weight: bold;
}

.timer-timeout {
  color: red;
}

/* timer end */

/* container start */

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  width: 100%;
}

/* container end */

/* user section start */

/* icon start */
.circular--landscape {
  display: inline-block;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 50%;
  background: #eee;
}

.circular--landscape img {
  width: auto;
  height: 100%;
}

/* icon end */

/* user section end */

/* custom bootstrap start */

/* modal start */

.custom-modal-header {
  justify-content: center;
}

.custom-modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal-footer {
  display: flex;
  justify-content: space-between;
}

/* modal end */

/* btn start */
.custom-btn {
  margin: 0.5rem 0rem;
}

/* btn end */

/* custom bootstrap end */

/* google map start */
#map {
  height: 100%;
  width: 100%;
}

#dialog {
  background: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.34);
  display: none;
  font-weight: 400;
  height: 50px;
  line-height: 40px;
  max-width: 480px;
  padding: 4.5px 30px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 9999;
}

.infowindow-container {
  padding: 10px 10px 0;
}

.infowindow-btn {}

.btn-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.infowindow-btn .btn {
  padding: 5px;
  width: 100%;
}

.infowindow-btn .btn:hover {
  outline: none;
}

/* google map end */

/* responsive start */
@media (min-width: 768px) {
  .btn-block {
    width: auto;
  }

  .custom-btn {
    margin: 0.25rem 0.75rem;
  }

  .user-section {
    align-items: center;
  }
}

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
    left: 17px;
  }
}

/* responsive end */

/* loader start */
.loader {
  border: 16px solid #ddd;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* loader end */