*,
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  background-color: #eee;
}

.content-wrapper {
  display: grid;
  height: 100%;
  grid-template-rows: auto 0.5fr max-content 1fr;
  grid-gap: 1rem;
  padding: 1rem;

}

.group-button {
  display: flex;
  justify-content: center;
  background: #fff;
  border-radius: 8px;
  padding: 5px;
}

.group-button .btn {
  margin: 0px 1rem;
  flex-basis: 10%;
}

#reqTable {
  width: 100%;
}

hr.style12 {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
  border: 0;
}

.btn-group {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.wrapper>.container-fluid>.row {
  height: 60vh;
}

.custom-form {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.custom-form .form-group {
  justify-self: center;
}

/* status color start */
.identified {
  color: green;
}
/* status color end */