.wrapper {
    padding: 10px;
}

#map {
    height: 400px;
    width: 100%;
}

hr.style12 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}

.btn-group {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}