/* container start */
*,
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: max-content;
  background-color: #F5F6F7;
}

.content-wrapper-inner {
  display: grid;
  height: 100%;
  grid-gap: 1rem;
  padding: 1rem;
}

.group-button {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

/* container end */

.btn-group {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

/* form inline custom start */

.custom-form {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  border: 1px solid #888;
}

.custom-form .form-group {
  justify-self: center;
}

.group-button .btn {
  margin: 0px 1rem;
  flex-basis: 10%;
}

/* form inline custom end */

/* status color start */
.identified {
  color: green;
}

.unidentified {
  color: red;
}

.selected {
  background: #ffeaa7 !important;
}

/* status color end */

.table-container {
  height: 260px;
  overflow: auto;
  background-color: #eee;
  position: relative;
}

#reqTable {
  margin-bottom: 0;
}

/* icon start */
.circular--landscape {
  display: inline-block;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 50%;
  background: #fff;
}

.circular--landscape img {
  width: auto;
  height: 100%;
}

/* icon end */