body {
    margin: 0;
    padding: 0;
    background: url(../../assets/img/pexels-photo-434450.jpeg);
    background-size: cover;
    background-position: center;
    font-family: arial, sans-serif;
}
.staff-zone{
    position: absolute; 
    right:10; 
    top:10;
}
.staff-zone .btn{
    border-radius: 20px;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbox {
    width: 480px;
    height: max-content;
    background: #f5f6fa;
    color: #000;
    border: 1px solid;
    opacity: .95;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px 30px 0px;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"] {
    /* border: none;
    border-bottom: 1px solid #fff; */
    background: transparent;
    outline: none;
    height: 50px;
    color: #000;
    font-size: 15px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #FB3735;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 20px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover {
    color: #ffc107;
}

/* custom bootstrap start */
.alert {
    display: none;
    padding: 0.25rem 1.25rem;
    text-align: center;
    margin:0;
    position:absolute;
    top:5px;
}

.alert-dismissible .close {
    padding: 0.25rem 1.25rem;
}

.rolePicker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px  0 40px 0 ;
}
.role-option{
    height:150px;
    width:94px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    padding:20px 0;
    color:white;
    font-weight: bold;
    border-radius: 40px;
    opacity: 0.8;
    -webkit-transition: width 500ms, border-radius 500ms, opacity 500ms; /* Safari */
    transition: width 500ms, border-radius 500ms, opacity 500ms;
}

.role-option img{
    height: 70px;
    /*border-radius: 50%;*/
    filter: invert(90%);
}
.role-option:hover{
    width:120px;
    border-radius: 0;
    cursor: pointer;
    opacity: 1;
}

.role-option:nth-child(1){
    background-color: #51A5EF;
}
.role-option:nth-child(2){
    background-color: #E04E39;
}
.role-option:nth-child(3){
    background-color: #7FBA25;
}
.role-option:nth-child(4){
    background-color: #ff8f00;
}
.role-inactive{
    opacity: 0.5;
}
.role-active{
    width:120px;
    border-radius: 0;
    cursor: pointer;
    opacity: 1;
}
.indicator {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    top: calc(50% - 2px);
    border-style: solid;
    border-width: 20px 60px 0 60px;
}
.role-active .indicator{
    opacity: 1;
}
.role-inactive .indicator{
    opacity: 0;
}

.role-active:nth-child(1) .indicator{
    border-color: #51A5EF transparent transparent transparent;
}
.role-active:nth-child(2) .indicator{
    border-color: #E04E39 transparent transparent transparent;
}
.role-active:nth-child(3) .indicator{
    border-color: #7FBA25 transparent transparent transparent;
}
.role-active:nth-child(4) .indicator{
    border-color: #ff8f00 transparent transparent transparent;

}

.guideContent {
    font-weight: bold;
}

.guideBox {
    background-color: #f5f6fa;
    background-color: black;
    position: absolute;
    top: 58px;
    width: 170px;
    left: calc(50% - 85px);
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#form{
    opacity: 0;
    height:0;
    -webkit-transition: height 500ms;
    -moz-transition: height 500ms;
    -ms-transition: height 500ms;
    -o-transition: height 500ms;
    transition: height 500ms;
}
#form.active{
    opacity: 1;
    height: 100%;
}
/* custom bootstrap end */